---
import Masthead from "../components/Masthead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Masthead>
    <h2>Hi there, I'm Matt</h2>
  </Masthead>
</BaseLayout>
