@property --bits-percentage {
    syntax: "<percentage>";
    initial-value: 100%;
    inherits: true;
}

@property --bits-seed {
    syntax: '<number>';
    initial-value: 1337;
    inherits: true;
}

@property --bits-color {
    syntax: '<color>';
    initial-value: var(--color-red);
    inherits: true;
}
