.navbar {
    position: relative;
    z-index: 2;
    height: 100px;
    background: var(--color-dark);
    color: var(--color-dark);

    & .container {
        height: 100%;
    }
}

.navbar__item {
    display: inline-block;
    height: 100%;
}

.navbar__brand {
    background: var(--color-red);
    padding: 25px var(--container-padding);
    margin-left: calc(-1 * var(--container-padding));
    margin-right: 50px;
    position: relative;

    & svg {
        height: 100%;
    }
}

.navbar__brand__extra {
    position: absolute;
    left: 100%;
    top: 0;
}
