* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {    
    font-family: var(--font-primary);
    background: var(--color-light);
    color: var(--color-light-inverse);
}

a {
    color: var(--color-red);
    text-decoration: none;
}

img, svg {
    display: inline-block;
}

[id] {
    scroll-margin-top: 2ex;
}

::selection {
    color: var(--color-red-inverse);
    background: var(--color-red);
}
