body {
    --page-bg: var(--light);
    --page-fg: var(--dark);

    background: var(--page-bg);
    color: var(--page-fg);
}

@media screen and (prefers-color-scheme: dark) {
    body {
        --page-bg: var(--dark);
        --page-fg: var(--light);
    }
}
