---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  fluid?: boolean;
}

const { class: className, fluid = false, ...props } = Astro.props;
---

<div class:list={["container", { fluid }, className]} {...props}>
  <slot />
</div>

<style>
  .container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;

    &:not(.fluid) {
      max-width: calc(1400rem / 16);
    }
  }
</style>
