---
import Container from "./Container.astro";
---

<footer>
  <div class="lower">
    <Container>
      <p>
        The content on this page is licensed under the <a
          href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          rel="noreferrer nofollow">CC BY-NC-SA 4.0 License</a
        > and code samples are licensed under the <a
          href="https://choosealicense.com/licenses/mit/"
          rel="noreferrer nofollow">MIT License</a
        >. The source code for this site is available on <a
          href="https://github.com/devmattrick/mattrick.org"
          rel="noreferrer nofollow">GitHub</a
        >.
      </p>
    </Container>
  </div>
</footer>

<style>
  footer {
    color: #888;
    font-size: 0.8rem;
  }
</style>
