---
import Brand from "./Brand.astro";
import Container from "./Container.astro";
import NavLink from "./NavLink.astro";
---

<header class="navbar">
  <Container class="container">
    <a href="/" class="brand">
      <Brand />
    </a>

    <nav class="nav">
      <ul>
        <li><NavLink href="/blog">Blog</NavLink></li>
        <li><NavLink href="/contact">Contact</NavLink></li>
      </ul>
    </nav>
  </Container>
</header>

<style>
  .navbar {
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brand {
    font-size: 2rem;
    text-decoration: none;
  }

  .nav {
    & ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    & a {
      color: var(--color-foreground);
      text-decoration: none;
      transition: color 0.25s ease-in-out;
      display: block;
      position: relative;
      padding: 1.5em 2em;

      &.active {
        color: var(--color-primary);

        &::before {
          display: block;
          position: absolute;
          content: "";
          bottom: 0.75em;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: var(--color-primary);
          width: 25%;
          height: 3px;
          color: var(--color-primary);
        }
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }
</style>
