---
// The NavLink component is a small wrapper around the <a> tag that applies an "active" class when the link is active

import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const active = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active }]} {...props}>
  <slot />
</a>
