---
import { type CollectionEntry } from "astro:content";
import { getUrl } from "../content/config";
import DateFormat from "./DateFormat.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<a href={getUrl("posts", post.slug)}>
  <article>
    <h3>{post.data.title}</h3>
    {post.data.subtitle ? <p class="subtitle">{post.data.subtitle}</p> : null}
    <p>{post.data.description}</p>
    <DateFormat date={post.data.date} />
  </article>
</a>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }
</style>
