{% import "_macros/icon.html" as icon %}

{# Set development mode variable if we're in a development environment #}
{% set development = get_env(name="NODE_ENV", default="production") == "development" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_partials/head.html" %}
</head>
<body>
    {% block body %}
    {% include "_partials/navbar.html" %}

    <main class="main">
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <div class="decoration"></div>
    {% endblock body %}

    {% include "_partials/debug.html" %}
</body>
</html>
