.section {
    position: relative;
}

.section__label {
    position: absolute;
    top: 40px;
    right: var(--container-padding);
    transform: rotate(-90deg);
    font-size: calc(2rem + 8vw);
    font-family: var(--font-monospace);
    color: var(--color-gray);
    opacity: 0.2;
    user-select: none;
    font-weight: 600;

    @supports (-webkit-text-stroke: 2px var(--color-gray)) {
        & {
          -webkit-text-stroke: 2px var(--color-gray);
          -webkit-text-fill-color: transparent;
        }
    }
}

.section__center {
    display: flex;
    align-items: center;
    jusify-content: center;
    height: 100%;
}

.masthead {
    --grid-percentage: 100%;
    --grid-color: rgba(255, 255, 255, 0.05);
    --grid-size: 50;
    background: paint(grid) var(--color-dark);
    color: var(--color-dark-inverse);
    padding: calc(5em + 100px) 0;
    margin-top: -100px;
    animation: intro 3s ease-in-out forwards;
}

.masthead__content {
    display: inline-block;
}

@keyframes intro {
    0% {
        --grid-percent: 0%;
    }
    100% {
        --grid-percent: 100%;
    }
}
