.section {
    position: relative;
}

.section__label {
    position: absolute;
    top: 40px;
    right: var(--container-padding);
    transform: rotate(-90deg);
    font-size: calc(2rem + 8vw);
    font-family: var(--font-monospace);
    color: var(--color-gray);
    opacity: 0.1;
    user-select: none;
    font-weight: 600;

    @supports (-webkit-text-stroke: 2px var(--color-gray)) {
        & {
          -webkit-text-stroke: 2px var(--color-gray);
          -webkit-text-fill-color: transparent;
        }
    }
}

.section__center {
    display: flex;
    align-items: center;
    jusify-content: center;
    height: 100%;
}

.masthead {
    background: var(--color-dark);
    color: var(--color-dark-inverse);
    padding-top: 5em;
    padding-bottom: calc(5em + 100px);
}
