{% extends "_layouts/layout.html" %}

{% block content %}
<section class="section masthead">
    <div class="section__label">01</div>
    <div class="container">
        <div class="masthead__content">
            <h1>Matt McCune</h1>
            <p>Computer Science Undergraduate at Cal State Fullerton</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="section__label">02</div>
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</section>
{% endblock %}
