{% extends "_layouts/layout.html" %}

{% block content %}
<section class="section masthead">
    <div class="section__label">01</div>
    <div class="container">
        <div class="masthead__content">
            <h1 class="masthead__heading">Matt McCune</h1>
            <p class="masthead__tagline">Computer Science Undergraduate at Cal State Fullerton</p>
            <ul class="masthead__links">
                <li><a href="https://github.com/devmattrick">{{ icon::icon(name="github") }} GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/matthewmccune/">{{ icon::icon(name="linkedin") }} LinkedIn</a></li>
                <li><a href="mailto:matt@mattrick.org">{{ icon::icon(name="email") }} Email</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="section section--pad">
    <div class="section__label">02</div>
    <div class="container">
    </div>
</section>
{% endblock %}
